<div id="page-content-wrapper" ng-cloak="">
    <div class="container-fluid">
        <div class="row content">

            <nav-bar></nav-bar>

            <div class="col-sm-2 sidenav">
                <h4>Оберіть ресурс</h4>
                <ul class="nav nav-pills nav-stacked" ng-repeat="source in sourceList">
                    <li><input type="checkbox" ng-model="request.source[source.id]" ng-true-value="{{source.id}}"
                               ng-false-value="">{{ source.name }}
                    </li>
                </ul>
                <br>
            </div>
            <div class="col-sm-9">
                <form role="form" id="searchBar">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" ng-model="request.string">
              <span class="input-group-btn">
                <button class="btn btn-default btn-sm" ng-click="searchCourseBar()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
                    </div>
                </form>

                <div cg-busy="{promise:courseList,message:'Зачейкате...',backdrop:true,minDuration:2000}">
                <hr>

                <div ng-hide="showCoursesTable()">
                    <p>Виконайте пошук необхідного курсу за допомою пошукового рядку.<br>
                        За замовчуванням пошук виконується по ключовим словам.<br>
                        Якщо необхідно знайти за фразою - візьміть її в лапки.</p>
                </div>
                    <table class="coursesTable" ng-show="showCoursesTable()">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Назва</th>
                            <th>Опис курсу</th>
                        </tr>
                        </thead>
                        <tbody id="courseList">
                        <tr ng-repeat="course in courseList" ng-click="openCourseDetails(course.id)">
                            <td><img class="resourceImg" src="{{ course.pictureUrl }}"></td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.description }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>